<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>200</string>
	<string>180</string>
	<string>163</string>
	<string>152</string>
	<string>75</string>
	<string>50</string>
	<string>49</string>
	<string>35</string>
	<string>15</string>
</array>
</plist>
